.sliderContainer {
  margin-bottom: 1rem;
}

.sliderContainer label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.rangeValues {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #666;
}

.slider {
  position: relative;
  width: 100%;
}

.thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: transparent;
  pointer-events: none;
  position: absolute;
  left: 0;
}

.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: #0fa9e6;
  border-radius: 50%;
  cursor: pointer;
}
